.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(121, 195, 218);
  color: whitesmoke;
}

NavLink {
  text-decoration: none;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: whitesmoke;
}

.login-links {
  width: 15%;
  font-size: 80%;
}