/* -- APP CONTAINER STYLING */

.App {
  text-align: center;
}

body { 
  min-height: 100%;
  margin: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(141, 195, 207, 0.55) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-container{
  width:100%;
}
/* -- NAV COMPONENT STYLING */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100vw;
  background: #537F8B;
    box-shadow: 0px 10px 0px #C2CCCD;
  color: #D0F4F8;
}

.logoDiv {
  width: 7vw;
  height: 5vh;
  left: 3vw;
  top: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoDiv h1{
  /* AGME */
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52%;
}

.logoDiv h4{
  /* company */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.big-link{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #D0F4F8;
}

.big-link:hover{
  text-decoration: none;
  color: rgb(167, 172, 167);
}

.little-link{
  text-decoration: none;
  font-size: 16px;
  color: #D0F4F8;
}

.little-link:hover{
  text-decoration: none;
  color: rgb(167, 172, 167);
}

.booking-link{
  color: rgb(143, 148, 212);
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.booking-link:hover{
  text-decoration: none;
  color: rgb(167, 172, 167);
}